<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>

<body class ="homeBackground">
<a href="/logout">Log-Out</a>   
  <div class="home">
     <div class="userRoom">
    <h1> Welcome Home </h1>
    {{#user}}
    <h3>Signed in as {{.}}
      <h3>
  

        {{/user}}
        <form action="/message" method="post">
          <textarea rows="4" cols="50" autofocus="autofocus" name="message">
   </textarea>
          <input type="submit" value="submit">
        </form>
        <h3>Your Messages</h3>
         {{#userMessage}}
           <p>{{body}}</p>
           <form class = "deletes" action="/delete" method="post">
            <input type ="hidden" name="authorid" value ={{userid}}>
            <input type ="hidden" name="messageid" value ={{id}}>
            <input class="delBtn" type="submit" value = "Delete">
            </form>Liked by: &nbsp {{likes.length}} &nbsp users
             <select>
            {{#likes}}
             <option>{{author.name}}</option>
           {{/likes}}
           {{^likes}}
           {{/likes}}

        </select>
           {{/userMessage}}
  </div>

  <div class="friendsRoom">
   <h1>What your friends are saying</h1>
   
    <div class="messages">
           {{#friendsMessages}}
           <h3>{{author.displayname}}</h3>
           <p>{{body}}</p>
           <form class="likes" action="/like" method="post">
           <input type ="hidden" name="messageid" value ={{id}}>
           <input type ="hidden" name="authorid" value ={{userid}}>
        
           <input class='likeBtn' value="like" type="submit" >
           </form>Liked by: &nbsp {{likes.length}} &nbsp users
           
         <select>
            {{#likes}}
             <option>{{author.name}}</option>
           {{/likes}}
        </select>
           {{/friendsMessages}}
          
    </div>       
  </div>
  </div>

</body>

</html>