<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Log-in</h1>
    <form action="/login"   method="post">
    <input type="text" placeholder="User name" name="userName" autocomplete="off" autofocus="autofocus"><br>
    <input type="text" placeholder="Password" autocomplete="off" name ="password"><br>    
    <input type="submit" value="submit">
    </form>

    <form action ="/signup" method="get">
    <input type = "submit" value="Sign up Here">
    </form>


</body>
</html>