<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
   
        <input type="text" autocomplete="off" name="name" placeholder= "Enter your First Name" autofocus="autofocus">
        <input type="text" autocomplete="off" name="password" placeholder ="Enter your Password" >
        <input type="text" autocomplete="off" name="userName" placeholder ="Enter your User name" >
        <input type="submit" value = "submit">
    </form>
     <div id="error">
    </div>


</body>
</html>