body{
    background-color:lightcoral
}

.home{
    display:flex;
}
.friendsRoom{
flex: 1 1 100%;


}
.userRoom{
    flex:1 1 100%;
   
}

.messages p{
 border:1px solid black;
 padding:.5vw;
 width:30vw;
 background-color:white;

}