html{
    background-image:url("images/Telepathy.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.home{
    display:flex;
}
.friendsRoom{
flex: 1 1 100%;
color:#0D2C44




}
.userRoom{
    color:#41A2D6;
    flex:1 1 100%;
   
}

.messages p{
 border:1px solid black;
 padding:.5vw;
 width:30vw;
 background-color:white;

}